<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sansec.persistence.mapper.SeedMapper" >
  <resultMap id="BaseResultMap" type="com.sansec.persistence.model.Seed" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="s_id" property="sId" jdbcType="INTEGER" />
    <result column="seed" property="seed" jdbcType="VARCHAR" />
  </resultMap>
</mapper>